.profile-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 280px;
  height: 250px;
  background-size: cover;
  padding: 15px;
  margin-bottom: 20px;
}

.profile-head {
  color: #6366f1;
  font-weight: 500;
  font-size: 26px;
}
.profile-para {
  font-size: 15px;
}
.retry-button {
  background-color: #4f46e5;
  color: aliceblue;
  height: 25px;
  width: 100px;
  border: none;
}
.profile-failure-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
