.login-container {
  height: 100vh;
  width: 100vw;
  background-color: black;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-container {
  height: 330px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #272727;
  border-radius: 10px;
}
.input-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 30px;
  background: none;
  margin-bottom: 15px;
}
.website-logo {
  height: 43px;
  width: 150px;
}
.login-button {
  background-color: #4f46e5;
  color: aliceblue;
  height: 25px;
  width: 200px;
  border: none;
  border-radius: 6px;
  margin-bottom: 0px;
}
.password-input-field {
  height: 25px;
  background: none;
  padding: 10px;
  outline: none;
  border: #64748b 1px solid;
  color: aliceblue;
  font-size: small;
}
.username-input-field {
  height: 25px;
  background: none;
  padding: 10px;
  outline: none;
  border: #64748b 1px solid;
  color: aliceblue;
  font-size: small;
  font-weight: 300;
}
.input-label {
  color: aliceblue;
  font-size: 14px;
  margin-bottom: 4px;
}
.error-message {
  color: red;
  margin-top: 0px;
  font-size: small;
}
